In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# Preparing the Data

In [2]:
df = pd.read_csv('usa_00001.csv')
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,RACED,HISPAN,HISPAND,EDUC,EDUCD,EMPSTAT,EMPSTATD,INCWAGE,VETSTAT,VETSTATD
0,2021,202101,2079,2021010124973,8424.0,2021000020791,270301,4,1,8424.0,...,200,0,0,7,71,1,10,10000,1,11
1,2021,202101,3015,2021000022278,18408.0,2021000030151,30101,1,1,18252.0,...,100,0,0,10,101,1,10,97000,1,11
2,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,1,31668.0,...,100,0,0,7,71,1,10,60000,1,11
3,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,3,29328.0,...,100,0,0,7,71,1,10,60000,1,11
4,2021,202101,3483,2021000054300,130260.0,2021000034831,200001,1,1,130104.0,...,200,0,0,7,71,1,10,21800,1,11

## Education

In [4]:
crosswalk = pd.read_csv('Crosswalk.csv')
crosswalk

    educd  educdc
0       2     0.0
1      10     0.0
2      11     2.0
3      12     0.0
4      13     2.5
5      14     1.0
6      15     2.0
7      16     3.0
8      17     4.0
9      20     6.5
10     21     5.5
11     22     5.0
12     23     6.0
13     24     7.5
14     25     7.0
15     26     8.0
16     30     9.0
17     40    10.0
18     50    11.0
19     61    12.0
20     62    12.0
21     63    12.0
22     64    12.0
23     65    13.0
24     70    13.0
25     71    14.0
26     80    14.0
27     81    14.0
28     82    14.0
29     83    14.0
30     90    15.0
31    100    16.0
32    101    16.0
33    110    17.0
34    111    18.0
35    112    19.0
36    113    20.0
37    114    18.0
38    115    18.0
39    116    22.0

In [5]:
# Transform data to convert to dictionary
crosswalk = crosswalk.set_index('educd').T
crosswalk

educd,2,10,11,12,13,14,15,16,17,20,...,90,100,101,110,111,112,113,114,115,116
educdc,0.0,0.0,2.0,0.0,2.5,1.0,2.0,3.0,4.0,6.5,...,15.0,16.0,16.0,17.0,18.0,19.0,20.0,18.0,18.0,22.0

In [6]:
# convert cw to dictionary (the parameter 'to list' ensures that the column names above our keys)
crosswalk.to_dict('list')

{2: [0.0],
 10: [0.0],
 11: [2.0],
 12: [0.0],
 13: [2.5],
 14: [1.0],
 15: [2.0],
 16: [3.0],
 17: [4.0],
 20: [6.5],
 21: [5.5],
 22: [5.0],
 23: [6.0],
 24: [7.5],
 25: [7.0],
 26: [8.0],
 30: [9.0],
 40: [10.0],
 50: [11.0],
 61: [12.0],
 62: [12.0],
 63: [12.0],
 64: [12.0],
 65: [13.0],
 70: [13.0],
 71: [14.0],
 80: [14.0],
 81: [14.0],
 82: [14.0],
 83: [14.0],
 90: [15.0],
 100: [16.0],
 101: [16.0],
 110: [17.0],
 111: [18.0],
 112: [19.0],
 113: [20.0],
 114: [18.0],
 115: [18.0],
 116: [22.0]}

In [8]:
# Duplicate the EDUCD column to create EDUCDC column
df['EDUCDC'] = df['EDUCD']
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,HISPAN,HISPAND,EDUC,EDUCD,EMPSTAT,EMPSTATD,INCWAGE,VETSTAT,VETSTATD,EDUCDC
0,2021,202101,2079,2021010124973,8424.0,2021000020791,270301,4,1,8424.0,...,0,0,7,71,1,10,10000,1,11,71
1,2021,202101,3015,2021000022278,18408.0,2021000030151,30101,1,1,18252.0,...,0,0,10,101,1,10,97000,1,11,101
2,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,1,31668.0,...,0,0,7,71,1,10,60000,1,11,71
3,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,3,29328.0,...,0,0,7,71,1,10,60000,1,11,71
4,2021,202101,3483,2021000054300,130260.0,2021000034831,200001,1,1,130104.0,...,0,0,7,71,1,10,21800,1,11,71

In [9]:
# Map values from the dictionary we created
df = df.replace({'EDUCDC': crosswalk})

# Verify
df[['EDUCD', 'EDUCDC']].head(10)

   EDUCD  EDUCDC
0     71      14
1    101      16
2     71      14
3     71      14
4     71      14
5    101      16
6    101      16
7     71      14
8     63      12
9    101      16

## Dummy Variables

Education

In [13]:
df["hsdip"] = np.where(((df["EDUCD"] == 62) | (df["EDUCD"] == 63) | \
     (df["EDUCD"] == 64) | (df["EDUCD"] == 65) | (df["EDUCD"] == 70) | \
        (df["EDUCD"] == 71) | (df["EDUCD"] == 80)), 1, 0)
df["hsdip"].unique()

array([1, 0])

In [14]:
df["coldip"] = np.where(((df["EDUCD"] == 101) | (df["EDUCD"] == 110) | \
     (df["EDUCD"] == 111) | (df["EDUCD"] == 112) | (df["EDUCD"] == 113) | \
        (df["EDUCD"] == 114) | (df["EDUCD"] == 115) | (df["EDUCD"] == 116)), 1, 0)
df["coldip"].unique()

array([0, 1])

Race

In [ ]:
df['White'] = np.where(df['RACE'] == 1, 1, 0)
df['Black'] = np.where(df['RACE'] == 2, 1, 0)

Hispanic

In [15]:
df["hispanic"] = np.where((df["HISPAN"] != 0) & (df["HISPAN"] != 9), 1, 0)

Marriage

In [16]:
df['married'] = np.where(
    (df['MARST'] == 1) | (df['MARST'] == 2),
    1,
    0
)

Female

In [17]:
df["female"] = np.where(df["SEX"] == 2, 1, 0)

Veteran

In [18]:
df["vet"] = np.where(df["VETSTAT"] == 2, 1, 0)

New Variables

In [20]:
df["hsdip_int"] = df["hsdip"]*df["EDUCDC"]
df["coldip_int"] = df["coldip"]*df["EDUCDC"]
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,VETSTATD,EDUCDC,hsdip,coldip,hispanic,married,female,vet,hsdip_int,coldip_int
0,2021,202101,2079,2021010124973,8424.0,2021000020791,270301,4,1,8424.0,...,11,14,1,0,0,0,1,0,14,0
1,2021,202101,3015,2021000022278,18408.0,2021000030151,30101,1,1,18252.0,...,11,16,0,1,0,0,1,0,0,16
2,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,1,31668.0,...,11,14,1,0,0,0,0,0,14,0
3,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,3,29328.0,...,11,14,1,0,0,0,1,0,14,0
4,2021,202101,3483,2021000054300,130260.0,2021000034831,200001,1,1,130104.0,...,11,14,1,0,0,0,1,0,14,0

In [23]:
df["age_sq"] = np.power(df["AGE"], 2)
df[["AGE", "age_sq"]].head()

   AGE  age_sq
0   21     441
1   38    1444
2   55    3025
3   57    3249
4   38    1444

In [25]:
df["INCWAGE"].replace({0: 0.0000001}, inplace=True)
df["INCWAGE_ln"] = np.log(df["INCWAGE"])
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,PERNUM,PERWT,...,hsdip,coldip,hispanic,married,female,vet,hsdip_int,coldip_int,age_sq,INCWAGE_ln
0,2021,202101,2079,2021010124973,8424.0,2021000020791,270301,4,1,8424.0,...,1,0,0,0,1,0,14,0,441,9.210340
1,2021,202101,3015,2021000022278,18408.0,2021000030151,30101,1,1,18252.0,...,0,1,0,0,1,0,0,16,1444,11.482466
2,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,1,31668.0,...,1,0,0,0,0,0,14,0,3025,11.002100
3,2021,202101,3171,2021000033303,31512.0,2021000031711,30201,1,3,29328.0,...,1,0,0,0,1,0,14,0,3249,11.002100
4,2021,202101,3483,2021000054300,130260.0,2021000034831,200001,1,1,130104.0,...,1,0,0,0,1,0,14,0,1444,9.989665

# Data Analysis